node_modules/
.env
.cache/
dist/
.venv/
.DS_Store
.vscode/
.astro/
.wrangler/
.dev.vars
/.mf/
/.parcel-cache/
/.rollup.cache/
/.vite/
*.log
public/react-demo-app.iife*
TODO
# Personal CV/resume reference files
*CV*.*
